*.iml
.gradle
/local.properties
.idea/
.DS_Store
/app/prod/release
/build
/captures
.externalNativeBuild
data/build/
domain/build/
/.envrc
/.java-version
/fastlane/report.xml
buildSystem/release.keystore
.ruby-version
.bundle/
vendor/
.node-version
node_modules/
package-lock.json
